extends layout

block content

  #container
    embed#vlc(type='application/x-vlc-plugin', pluginspage='http://www.videolan.org', text='Loading...', autoplay='yes', loop='no', target='http://127.0.0.1:8866/live?channel=31', windowless='true', z-index='-1', controls='false', branding='false', width='100%', height='100%')
    object(classid='clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921', codebase='http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab', style='display:none;')


  #notification(style="display:none")
    img#entrance
    button#accept.button-success.pure-button.button-selected
      i.fa.fa-phone.fa-3x
        | Ouvrir
    button#refuse.button-error.pure-button
      i.fa.fa-close.fa-3x
        | Fermer

  #basic-modal-content
    h1 Fumée détectée
    img(src='../../images/issue-de-secours.png' height='350px' width='350px')
    p
      | Un détecteur de fumée a été activé.
      | Veuillez vous diriger vers l'issue de secours la plus proche.
    button.simplemodal-close.ok
      |OK

  #channel(style="display:none")
    h1 --
