doctype html
html
  head
    title= title
    link(rel='shortcut icon', type='image/png', href='/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    link(rel='stylesheet', href='/stylesheets/widget.css')
  body
    block content

  script(data-main='javascripts/main' src='javascripts/lib/require.js')
