doctype html
html
  head
    title= title
    link(rel='shortcut icon', type='image/png', href='/favicon.png')
    link(rel='stylesheet', href='/fonts/font-awesome-4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/modal.css')
    link(rel='stylesheet', href='/stylesheets/widget.css')
  body
    block content

  script(src='javascripts/jquery-2.1.1.min.js')
  script(src='javascripts/jquery.simplemodal.js')
  script(src='javascripts/socket.io-1.2.1.min.js')
  script(src='javascripts/LightManager.js')
  script(src='javascripts/jquery.simpleWeather.min.js')
  script(src='javascripts/main.js')
