doctype html
html
  head
    title='Phone Call'
    link(rel='stylesheet', href='/stylesheets/phone.css')
    style(href='')
    script(src='javascripts/lib/peer.js')
    script(src='javascripts/lib/jquery.js')
  body
    block content
      button(id='call', type='button')
        |CALL
        button(id='stop', type='button')
          |END
      #phone
        video(id='my-video', muted='true', autoplay)
        video(id='tv-video', autoplay)
    script(src='javascripts/phone-call.js')
