doctype html
html
  head
    title='Phone Call'
    link(rel='stylesheet', href='/stylesheets/phone.css')
    style(href='')
    script(src='javascripts/libs/peerjs/peer.min.js')
    script(src='javascripts/libs/jquery/dist/jquery.min.js')
  body
    block content
      #phone
        video(id='my-video', muted='true', autoplay)
        video(id='tv-video', width='640px', height='480px', autoplay, poster="/images/poster-tv.png")
        button(id='call', type='button')
          |CALL
        button(id='stop', type='button')
          |END
    script(src='javascripts/phone-call.js')
