html {
  background-color: gainsboro;
}
#call {
  position: relative;
  border: 0;
  padding: 1%;
  width: 48%;
  bottom: 0;
  font-size: x-large;
  margin: 1%;
  background: yellowgreen;
  font-weight: bolder;
  /* margin-top: 0; */
  color: white;
}
#stop {
  position: relative;
  border: 0;
  right: 0;
  padding: 1%;
  width: 48%;
  bottom: 0;
  font-size: x-large;
  font-weight: bolder;
  color: white;
  margin: 1%;
  background: firebrick;
}
#phone {
  width: 640px;
  height: 480px;
  position: fixed;
}
#tv-video {
  border: 5px solid white;
  position: relative;
  border-radius: 10px;
  /* top: 0; */
  /* left: 0; */
  ma: 100%;
  /* height: 100%; */
}
#my-video {
  width: 20%;
  right: 0;
  bottom: 0;
  position: absolute;
  /* margin-bottom: 6%; */
  z-index: 10;
  /* left: 0; */
  border: 5px solid white;
  border-radius: 10px;
  margin-right: 1%;
  /* margin-top: 53%; */
}
