html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  position: relative;
  overflow: hidden;
}
#face {
  margin-left: 30%;
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  font-size: -webkit-xxx-large;
  font-weight: bold;
  background-color: rgba(29, 219, 89, 0.78);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 20px;
  text-transform: capitalize;
}
#channel {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 100;
  width: 8%;
  background-color: rgba(0, 0, 0, 0.62);
  border: 5px solid rgb(95, 86, 86);
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial;
  font-size: x-large;
  padding: 0.5%;
}
#channel h1 {
  color: white;
  text-align: right;
  margin: 5%;
}
#notification {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  height: 50%;
  width: 30%;
  background-color: #7f8c8d;
  border: 5px solid rgb(66, 62, 62);
  border-radius: 30px;
  overflow:hidden;
  margin: 1%;
}
#entrance {
  margin: 0 0 0 -620px;
}
.button-success, .button-error {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: rgb(28, 184, 65);
}
.button-error {
  background: rgb(202, 60, 60);
}
.button-selected {
  border: 5px solid #2980b9;
  font-weight: 900;
}
#accept, #refuse {
  width: 50%;
  height: 10%;
  cursor:pointer;
  position: absolute;
  bottom:0;
  font-size: x-large;
  border: 10px;
  border-color: black;
  border-radius: 0px;
}
#accept {
  left: 0;
}
#refuse {
  right: 0;
}
#container {
  height: 100%;
}

#alarm{
  position: fixed;
  height: 60%;
  width: 60%;
  color: #bbb;
  background-color: #333;
  border: 15px solid #444;
  left: 20%;
  top: 20%;
  font-family: Arial;
}

#alarm h1{
  height: 10%;
  color: #EC2814;
  background-color: #333;
  font-size: 5em;
  text-align: center;
}

#alarm .ok {
  width: 33%;
  height: 10%;
  position: absolute;
  bottom: 5px;
  font-size: 2em;
  border: 3px solid white;
  background-color: #333;
  color: white;
  left:33%;
}

#alarm img {
  float: left;
  margin-right: 1%;
}
#alarm p {
  color: white;
  font-size: 3em;
  margin-top: 2em;
}

@font-face {
    font-family: 'LearningCurveProRegular';
    src: url('../fonts/LearningCurve_OT-webfont.eot');
    src: url('../fonts/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LearningCurve_OT-webfont.woff') format('woff'),
         url('../fonts/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('../fonts/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

#menu {
  background-image:url('../images/paper-background.jpg');
  background-position:left top;
  opacity: 0.9;
  background-size: 100% 100%;
  font-family: 'LearningCurveProRegular', Arial, serif;
  position: fixed;
  height: 80%;
  width: 60%;
  border-radius: 5px;
  left: 20%;
  top: 10%;
  font-size: xx-large;
}
#menu1 {
  width: 45%;
  height: 80%;
  float: left;
  margin-left: 3%;
  text-align: center;
}
#menu2 {
  width: 45%;
  height: 80%;
  margin-right: 3%;
  float: right;
  text-align: center;
}
#phone {
  background-position:left top;
  position: fixed;
  height: 80%;
  width: 60%;
  border: 5px solid white;
  left: 20%;
  top: 10%;
  border-radius: 10px;
  opacity: 0.9;
}
#their-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#my-video {
  width: 25%;
  position: absolute;
  z-index: 10;
  left: 0;
  border: 5px solid white;
  border-radius: 10px;
  margin-left: 72%;
  margin-top: 53%;
}
#incoming-call {
  text-align: center;
  background: black;
  opacity: 0.9;
  padding: 2%;
  margin-top: 25%;
  font-size: xx-large;  
}
#answer {
  padding: 1%;
  margin: 1%;
  font-size: inherit;
}
#refuse-call {
  padding: 1%;
  margin: 1%;
  font-size: inherit;
}
